*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body
{
	font-family: Poppins;
	position: relative;

	

}
a
{
	text-decoration: none;
	color: black;
}
a:visited
{
	text-decoration: none;

}
h1
{
	font-size: 3.5em;
	line-height: 60px;
	margin-bottom:20px ;
	
}
h2
{
	font-size: 1.1em;
	color: #8d8c92;
	font-weight: 500;

}
.rezumap
{
	font-size: 2em;
	font-weight: 700;
}
.header
{
	
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-attachment: fixed;	
	width: 100%;
	position: fixed;
	

	z-index: 5;
	

}
.header2
{
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-attachment: fixed;
	background: white;
	position: fixed;
	width: 100%;

	z-index: 5;
}
.logo
{
	
	height: 80px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo_img
{
	height: 50px;
}
.nav_bar
{
	
	height: 80px;
	width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;

	
}
.connection
{
	
	height: 80px;
	width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin-right: 100px;
}
.logo_box
{
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin-left:100px ;

}
.button_header
{
	height: 40px;
	width: 110px;
	border-radius: 15px;
	border: none;
	margin: 10px;
	color: #8d8c92;
	font-weight: 700;
	background: #EFEFEF;

}
.button_header:hover
{
	cursor: pointer;
}
.button_header2
{
	height: 40px;
	width: 110px;
	border-radius: 15px;
	border: none;
	margin: 10px;
	color: white;
	font-weight: 700;
	background: #2dcfd1;
}
.button_header2:hover
{
	cursor: pointer;
}
.nav_bar_p
{
	margin: 10px;
	font-weight: 500;
	color: black;

}
.nav_bar_p:hover
{
	text-decoration: underline;
}
.box1
{
	
	

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	

	
	
	}
.bobox1
{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
	
	margin-top: 180px;
	

	
}

.left
{
	
	width: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow:auto;


	
	

}
.right
{
	
	width: 700px;

	display: flex;
	justify-content: flex-start;
	align-items: center;


	position: sticky;
	top:180px;
	

}
.button_left
{
	height: 50px;
	width: 50px;
	border-radius: 0px 20px 20px 0px;
	border: none;
	background: #2dcfd1;
	font-weight: 700;
	font-size: 2em;
	color: white;
	border-right: 1px solid #A6A6A6;
	border-top: 1px solid #A6A6A6;
	border-bottom: 1px solid #A6A6A6;

	
	
}
.button_left:hover
{
	cursor: pointer;
}
.text_left
{
	height: 50px;
	width: 400px;
	border-radius: 20px 0px 0px 20px;
	border-top: 1px solid #A6A6A6;
	border-left: 1px solid #A6A6A6;
	border-bottom: 1px solid #A6A6A6;
	
	border-right: none;
	padding: 10px;
	padding-left: 20px;
	font-size: 1em;
	


}
.text_left:focus
{
	outline: none;
}
.search
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	margin-top: 100px;

	width: 100%;



	
}
.loupe
{
	height: 200px;
}
.cv
{
	border-bottom: 1px solid #A6A6A6;
	height: 210px;
	width: 680px;
	margin-top: 20px;

	display: flex;
	justify-content: center;
	align-items: center;

}
.cv_left
{
	height: 200px;
	width: 200px;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.cv_right
{
	height: 200px;
	width: 450px;
	
	margin: 5px;
	padding: 10px;
}
.pdp
{
	height: 190px;
	border-radius: 10px;
}
.name
{
	font-size: 1.3em;
	font-weight: 500;
	
}
.description
{
	
	margin-top: 10px;
	font-size: 0.7em;
}
.ville
{
	
	margin-top: 5px;
	color: #A2A2A2;
	font-size: 0.7em;
}
.metier
{
	
	margin-top: 5px;
	font-size: 0.7em;
}
.like
{
	height: 20px;
	margin-top: 20px;


}
.bouton_map
{
	width: 200px;
	height: 50px;
}
.mapp
{


}
.foot
{
	height: 300px;
	background-color: #2dcfd1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.foot_box
{
	
	height: 250px;
	width: 700px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}


.copyright
{
	border-top: 1px solid black;
	height: 40px;
	width: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.copyright_p
{
	font-size: 0.9em;
	font-weight: 600;
}
.entete
{


	position: fixed;
	width: 100%;
	height: 180px;
	z-index: 10;
	background: white;
	border-bottom: 1px solid #A6A6A6;
}